.tela{
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.containerJogador1, .containerJogador2{
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.containerJogador1{
  justify-content: end;
  align-items: end;
}
.containerJogador2{
  justify-content: start;
  align-items: start;
}

