.container{
    background-color: black;
    width: 600px;
    height: 300px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    opacity: 0.8;
    flex-direction: column;
    padding: 0;
}

h1{
    font-size: 32px;
}

.barraContainer {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

.barra{
    display: block;
    text-align: center;
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, #3ea201, #50cf01 50%);
}

.barraPF{
    display: block;
    text-align: center;
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, #006ca5, #04bade 50%);
}

